/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

html {
  --text-color-normal: #213e3b;
  --text-color-light: #e8ffff;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background: #fff;
}

a {
  color: #ef6603;
}

body.dark-theme {
  color: #eee;
  background: #121212;
}
body.dark-theme a {
  color: #fff;
}

a:hover {
  /* color: #fc8129; */
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
